<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>

            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Equipos</h3>
                </div>
                <div class="card-body">
                    <app-form-equipo-venezolano (onItemAdded)="agregado($event)">
                    </app-form-equipo-venezolano>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
        <app-equipo-venezolano
            *ngFor="let e of equiposApiClient.getAll(); let i=index"
            [equipo]="e"
            [idx]="i"
            (onClicked)='elegido(e)'
            appEspiame
            >
        </app-equipo-venezolano>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">{{u}}!</li>
        </ul>
    </div>

</div>
